<div
id="controller-lobby"
data-controller="lobby"
data-lobby-group-id-value="<%= @group.id %>"
data-lobby-user-id-value="<%= current_or_guest_user.id %>"
data-lobby-start-url-value="<%= play_session_path(@user_session) %>"
class="overflow-hidden container-navbar dvh-100" style="height: calc(100vh - 60px)"
>
  <div class="container d-flex flex-column justify-content-between align-items-center h-100">
    <div class="text-center">
      <h1>Lobby <%= @group.id %></h1>
      <%= raw(@qr_svg.html_safe) %>
      <p class="fw-bold"><%= @content %></p>
      <div id="players" class="row row-cols-4 g-2 justify-content-center">
        <% @connected_users.each do |user| %>
          <%= render 'players', user: user %>
        <% end %>
      </div>
    </div>
    <div>
      <button
  type="button"
  class="btn-submit w-100 py-3 rounded-3 text-uppercase fw-bold mb-3"
  data-action="click->lobby#start"
        >
        Start game
      </button>
    </div>
  </div>
</div>
