<%= link_to "Go", play_session_path(@user_session), class: "btn btn-primary" %>

<div
data-controller="lobby"
data-lobby-group-id-value="<%= @group.id %>"
data-lobby-user-id-value="<%= current_or_guest_user.id %>"
>

<h1>Lobby <%= @group.id %></h1>
<!--<div> <%#= current_or_guest_user.id  %></div>
-->
</div>

<!--Connected players are displayed here-->
<div id="players">
  <% @connected_users.each do |user| %>
    <%= render 'players', user: user %>
  <% end %>
</div>
