<!DOCTYPE html>
<html>
  <head>
    <title>Musixbox</title>
    <!-- app/views/layout/application.html.erb -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
    <% if content_for?(:meta_title) %>
      <meta property="og:title" content="<%= yield(:meta_title) %>">
      <meta property="og:description" content="<%= yield(:meta_description) %>">
      <meta property="og:image" content="<%= yield(:meta_image) %>">
      <meta property="og:url" content="<%= request.original_url %>">
      <meta property="og:type" content="website">
    <% end %>
  </head>

  <body class="bg-cream-theme">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>

  </body>
</html>
